<h1>New Landmark Form</h1>

<!-- expect(page.body).to include('<form')
expect(page.body).to include('landmark[name]')
expect(page.body).to include('landmark[year_completed]') -->

<form action="/landmarks" method="post">
  <p><strong>Landmark Name:</strong> <input type="text" id="landmark_name" name="landmark[name]"></p>
  <p><strong>Landmark Year:</strong> <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></p>
  <input type="submit" name="Create New Landmark" value="Create New Landmark">
</form>

<!-- <form action="/figures" method="post">
  <p><strong>Figure Name:</strong> <input type="text" id="figure_name" name="figure[name]" value=""></p>
  <h3>Titles (pick from existing):</h3>
    <%@titles.each do |title| %>
      <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>"><%=title.name%></input>
    <%end%>
  <br></br>
  <strong>....Or Create a New Title:</strong>
  <p>Title Name: <input type="text" name="title[name]" id="new_title"></p>

  <h3>Landmarks (pick from existing):</h3>
    <%@landmarks.each do |landmark| %>
      <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%></input>
    <%end%>
  <br></br>
  <strong>....Or Create a New Landmarks:</strong>
    <p>Landmark Name: <input type="text" name="landmark[name]" id="new_landmark"></p>
    <p>Landmark Year: <input type="text" name="landmark[year_completed]" id="landmark[year_completed]"></p>
    <input type="submit" name="Create New Figure" value="Create New Figure">
</form> -->
